rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    
    // Helper function to verify user authentication
    function isAuthenticated() {
      return request.auth != null;
    }
    
    // Restrict read/write access to folder matches based on auth UID
    match /users/{userId}/{allPaths=**} {
      allow read, write: if isAuthenticated() && request.auth.uid == userId;
    }
  }
}
